body{
    font-family: 'Poppins';font-size: 22px;
}
.color-highlight{
    color: hotpink;
}
h1 {
    font-size: 35px;
}
.link-button{
    text-decoration: none;
    border-radius: 7px;
    padding: 12px 25px;
    color: white;
    background-image: linear-gradient(45deg,violet, hotpink)
}
.half-width{
    width: 33%;
    float: left;
    margin-left: 7%;
    padding-left: 5%;
    padding-top: 12%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(personal-website/header-bg.png);
    background-size: cover;
    height: 100vh;
}
.bio{
    font-size: 50px;
}
.middle{
    background-image: url(personal-website/biography-bg.png);
    background-size: cover;
    height: 100vh;
}
p {
    color: dimgray;
    font-size: 24px;
    padding-bottom: 30px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.work-float{
    float: left;
    width: 25%;
    padding: 5%;  
    display: flex; 
    margin-left: 5%;
    position: relative;
    left: 10px;
}
.latest-work{
    text-align: center;
    background-image: url(personal-website/footer-bg.png);
    background-size: cover;
    height: 100vh;
}

#first {
    position: relative;
    right: 25px;
}
#third{
    position: relative;
    left: 25px;
}
.Bruce-client{
    text-align: center;
}
.CEO{
    padding : 70px;
    top:120%
}
.foot{
    background-image: url(personal-website/footer-bg.png);
    background-size: cover;
    height: 100vh;
}
.Message-button{
    text-decoration: none;
    text-align: center;
    display: flex;
    padding: 150px;
    margin: 100px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(45deg,violet, hotpink)
}
.button-mid{
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 12px;
}
